

<main id="main-content">
  <div class="bg-base-lightest">
    <section class="grid-container usa-section">
      <div class="grid-row margin-x-neg-205 flex-justify-center">
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
          <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">A tagline that explains the benefit of creating an account.</h1>
          <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
            <h1 class="margin-bottom-0">Create account</h1>
            <form class="usa-form">
              <fieldset class="usa-fieldset">
                <legend class="usa-legend margin-top-1">Get started with an account.</legend>
                <p>
                  <abbr title="required" class="usa-hint usa-hint--required">*</abbr> indicates a required field.
                </p>
                <label class="usa-label" for="email">Email address <abbr title="required" class="usa-label--required">*</abbr></label>
                <input class="usa-input" id="email" name="email" type="email" autocapitalize="off" autocorrect="off" required>


                <label class="usa-label" for="password-create-account">Create password <abbr title="required" class="usa-label--required">*</abbr></label>
                <input class="usa-input" id="password-create-account" name="password" type="password" required>

                <p class="usa-form__note">
                  <a title="Show password" href="javascript:void(0);"
                    class="usa-show-password"
                    aria-controls="password-create-account password-create-account-confirm">Show password</a>
                </p>

                <label class="usa-label" for="password-create-account-confirm">Re-type password <abbr title="required" class="usa-label--required">*</abbr></label>
                <input class="usa-input" id="password-create-account-confirm" name="password-confirm" type="password" required>


                <div class="usa-checkbox margin-y-3">
                  <input class="usa-checkbox__input" id="terms-and-conditions" type="checkbox" name="terms-and-conditions" value="terms" required>
                  <label class="usa-checkbox__label" for="terms-and-conditions">I agree to the <a href="javascript:void()">terms and conditions</a>. <abbr title="required" class="usa-label--required">*</abbr></label>
                </div>

                <input class="usa-button" type="submit" value="Create account">
              </fieldset>
            </form>
          </div>
          <p class="text-center desktop:text-left">Already have an account? <a class="usa-link" href="javascript:void(0);">Sign in</a>.</p>

        </div>
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
            <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
            
<h2 class="display-none desktop:display-block">A tagline that explains the benefit of creating an account.</h2>
<div class="usa-prose">
<p>Here’s space for a longer description to introduce 3-5 easily scannable bullet points. Note that on mobile, this text block will bump below the Create Account form.</p>
  <section class="usa-graphic-list">
      <div class="usa-graphic-list__row">
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="../../dist/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 1:</strong> Vivamus nec velit sed leo scelerisque laoreet vestibulum.</p>
          </div>
        </div>
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="../../dist/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 2:</strong> Ut ac dictum elit. Vivamus nec velit sed leo laoreet vestibulum.</p>
          </div>
        </div>
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="../../dist/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 3:</strong> Vivamus nec velit sed leo scelerisque laoreet vestibulum.</p>
          </div>
        </div>
      </div>
  </section>
</div>


            <div class="border-top border-base-lighter margin-top-3 padding-top-1">
  <h2>Are you a federal employee?</h2>
  <div class="usa-prose">
    <p>If you are a federal employee or [other secondary user], please use [secondary Single Sign On (SSO)].</p>
    <p><a class="usa-button usa-button--outline" href="javascript:void()">Launch secondary SSO</a></p>
  </div>
</div>
            </div>
        </div>
    </section>
  </div>
</main>
